<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Materias</title>
    <script src="https://kit.fontawesome.com/06f1e4b04b.js" crossorigin="anonymous"></script>
    <link href="~/estilosindex.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav>
        <a href="~/Home/Perfil"><img src="~/img/default.png" />Mi perfil</a>
    </nav>

    <main>
        <h1>Materias actuales</h1>
        <div class="Materia">
            <img src="~/img/WebIcon.png">
            <div class="elemento-datos">
                <h2>Programación Web</h2>
                <p class="elemento-titulo">Semestre:</p>
                <p>7mo Semestre</p><br />
                <p class="elemento-titulo">Periodo:</p>
                <p>Agosto-Diciembre 2023</p><br />
                <p class="elemento-titulo">Alumno:</p>
                <p>Rodrigo Elias Castillo</p>
            </div>
        </div>
    </main>
</body>
</html>

