<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mi Perfil</title>
    <script src="https://kit.fontawesome.com/06f1e4b04b.js" crossorigin="anonymous"></script>
    <link href="~/estilosperfil.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav>
        <a href="~/Home/Index">Regresar</a>
    </nav>
    <main>
        <div class="perfil">
            <div class="perfil-bloque-color"></div>
            <img src="~/img/FotoPerfil.jpg">
            <div class="perfil-info">
                <h2>Rodrigo Elias Castillo</h2>
                <h3>Ingeniería en Sistemas Computacionales</h3>
                <p class="perfil-titulo">Número de control:</p>
                <p>201G0246</p>
                <p class="perfil-titulo">Especialidad:</p>
                <p>Desarrollo multiplataforma</p>
                <p class="perfil-titulo">Promedio:</p>
                <p>96.7</p>
            </div>
        </div>
    </main>
</body>
</html>
