@model U2Tarea1.Models.ViewModels.IndexEspeciesViewModel;
@{
    Layout = "Layout";
}

<h1>
    <img src="~/clases/@(Model.IdClase).png"/> @Model.NombreClase
</h1>

<div class="listaEspecies2">
@foreach (var item in Model.AnimalesEspecie)
{
        <a href="~/especies/DetallesEspecie/@(item.Nombre)">
            <img src="~/especies/@(item.Id).jpg" title="@item.Nombre" />
        </a>
}
    
</div>

<script>

    var c = document.querySelector("main h1 img").cloneNode();
    document.querySelector("main h1").appendChild(c);
</script>

