@model U2Tarea2.Models.ViewModels.IndexRazasViewModel
@{
    Layout = "Layout";
}


<section class="nav">
    <h3>ABC de Razas</h3>
    <nav>
        <a href="~/Home/Index">Todas</a>
        @foreach (var item in Model.Letras)
        {
            <a href="~/Home/Index/@item">@item</a>
        }
        <a href="~/Home/IndexRazasXPais">Listado por país</a>
    </nav>
</section>
<section class="list">
    <ul>
        @foreach (var item in Model.ListaRazas)
        {
            <li>
                <a href="~/Home/DetallesRaza/@(item.Nombre.Replace(" ","-"))">
                    <img src="~/imgs_perros/@(item.Id)_0.jpg">
                    @item.Nombre
                </a>
            </li>
        }
    </ul>
</section>
