<html>
<head>
    <link href="~/estilos.css" rel="stylesheet" />
    <title>Administrador Neat Burguer</title>
</head>
<body>
    <header>
        <nav>
            <a href="~/Admin/Home/Index">Principal</a>
            <a href="~/Admin/Menu/Index">Modificar menú</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>